@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,400;0,600;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
#paleta-colores{
/* CSS HEX */
color:/*--spanish-viridian:*/ #007f5fff;
color:/*--spanish-green:*/ #2b9348ff;
color:/*green-ryb:*/ #55a630ff;
color:/*--apple-green:*/ #80b918ff;
color:/*--bitter-lemon:*/#BFD200;
}

html{
    font-size: 62,5%;
}

body{
    font-family: 'Lato', 'Ubuntu', 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

section{
    padding-top: 10rem;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 3rem;
    margin: 0 0 0.4rem 0;
    color:/*--apple-green:*/whitesmoke;
}

h2{
    color:/*--spanish-viridian:*/ #007f5fff;
    margin: 1rem 0;
}

h5{
    margin: 1rem 0;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

p{
    line-height: 2.4rem;
    padding: 0 6rem;
    text-align: center;
}

li{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;  
}

header{
    width: 100%;
    height: 10rem;
    background-color:/*--spanish-viridian:*/ #007f5fff;
    color: whitesmoke;
    position: fixed;
    z-index: 10;
    top: 0;
}

header li{
color: whitesmoke;
}

#encabezado>a:hover{
    color: white;
}

/*audio{
    width: 20%; 
}*/

#encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
}

nav{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

nav>a:link{
    color: whitesmoke;
}

nav>a:visited{
    color: whitesmoke;
}

nav>a:hover{
    color: cadetblue;
}

#estudios-div{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 3.2rem;
}

#estudios-div li{
    font-size: 1.4rem;
}

#estudios-div div{
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0.5rem;
    width: 20%;
}

#contacto a:hover{
    color:/*--spanish-viridian:*/ #007f5fff;
}

#datos-contacto{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;
}

#datos-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    row-gap: 0.8rem;
}

#datos-ubicacion a:hover{
    color: cadetblue;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#inputs{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.label-input{
    display: flex;
    flex-direction: column;
}

#fondo-formulario{
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
}

label, input, textarea{
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 4px;
    font-family: 'Lato', 'Raleway', sans-serif;
}

label{
    border: none;
}

input[type=submit] {
    margin-top: 1.2rem;
    color: whitesmoke;
    background-color:/*--apple-green:*/ #80b918ff;
}

input[type=submit]:hover {
    background-color:/*green-ryb:*/ #55a630ff;
}

textarea{
    width: 100%;
    height: 6rem;
    resize: none;
}

#div-textarea{
    width: 40%;
}

footer{
    width: 100%;
    background-color:/*--spanish-green:*/ #2b9348ff;
    color: gray;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.4rem;
    align-items: center;
    height: 2rem;
}

footer>a:hover{
    color: white;
}


address{
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

address>a:hover{
    color:white;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    font-size: 1.2rem;
    display: flex;
    min-height: 3.2rem;
    width: 6rem;
    padding: 0.4rem;
    margin: 0.4rem;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#tecnologia-talleres-idiomas{
    display: flex;
    justify-content: space-around;
}